@font-face {
  font-family: pacifico;
  src: url('../assets/fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
  font-family: poppins;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: dancingScript;
  src: url('../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}
